.last-posts-table {
    background-color: #f2f2f2; /* Cor de fundo igual à da navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Cantos arredondados */
    padding: 20px;
    margin: -272px auto 0 auto; /* Margens superior, direita, inferior e esquerda */
    max-width: 600px; /* Defina um valor máximo de largura */
    align: center; /* Centralize o texto horizontalmente */
}

.last-posts-table h2 {
    color: #333; /* Cor do texto igual à da navbar */
    text-align: center; /* Centralize o texto horizontalmente */
    max-width: 100%; /* Remova a limitação de largura */
}

.last-posts-table table {
    width: 100%;
    margin: 0 auto; /* Centralizar horizontalmente */
    border-collapse: collapse;
}

.last-posts-table td {
    margin: 50px 50px 50px 50px; /* Margens superior, direita, inferior e esquerda */
    text-align: left;
}

.last-posts-table th {
    margin: 50px 50px 50px 50px; /* Margens superior, direita, inferior e esquerda */
    text-align: center;
    background-color: #1a73e8; /* Cor de fundo das células do cabeçalho */
}

.last-posts-table th:first-child, .last-posts-table td:first-child {
    border-top-left-radius: 10px; /* Cantos arredondados no canto superior esquerdo */
    border-bottom-left-radius: 10px;
}

.last-posts-table th:last-child, .last-posts-table td:last-child {
    border-top-right-radius: 10px; /* Cantos arredondados no canto superior direito */
    border-bottom-right-radius: 10px;
}

.last-posts-table tr:nth-child(even) {
    background-color: #fff; /* Cor de fundo das linhas pares */
}
