.last-users-table {
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto 0 50px;
    max-width: 600px;
}

.last-users-table h2 {
    color: #333;
    text-align: center;
    max-width: 100%;
}

.last-users-table table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.last-users-table th, .last-users-table td {
    margin: 50px 50px 50px 50px;
    text-align: center;
}

.last-users-table th {
    background-color: #1a73e8;
}

.last-users-table th:first-child, .last-users-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.last-users-table th:last-child, .last-users-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.last-users-table tr:nth-child(even) {
    background-color: #fff;
}
