.total-posts-table {
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px 20px;
    margin: -267px auto 0 auto;
    max-width: 600px;
    align: center;
}

.total-posts-table h2 {
    color: #333;
    text-align: center;
    max-width: 100%;
}

.total-posts-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 56px;
}

.total-posts-table th, .total-posts-table td {
    padding: 10px;
    text-align: center;
}

.total-posts-table th {
    background-color: #1a73e8;
    color: #fff;
}

.total-posts-table th:first-child, .total-posts-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.total-posts-table th:last-child, .total-posts-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.total-posts-table tr:nth-child(even) {
    background-color: #fff;
}
